
@{
    ViewBag.Title = "CourseEvaluationProject";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">

            <div class="card bg-info text-white">
                <div class="card-body">

                    <center><h3>Project: Learning Management System</h3></center>

                </div>
            </div>


            <div class="card bg-light text-white">
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-3"></div>

                        <div class="col-md-4">
                            <p>R1 = Designing</p>
                        </div>

                        <div class="col-md-4">
                            <p>R2 = Relationships</p>
                        </div>

                        <div class="col-md-3"></div>

                    </div>

                    <div class="row">

                        <div class="col-md-3"></div>

                        <div class="col-md-4">
                            <p>R3 = Selection</p>
                        </div>

                        <div class="col-md-4">
                            <p>R4 = Explanation</p>
                        </div>

                        <div class="col-md-3"></div>

                    </div>

                    <div class="row">

                        <div class="col-md-3"></div>

                        <div class="col-md-4">
                            <p>R5 = Implementation</p>
                        </div>

                        <div class="col-md-6"></div>

                    </div>

                </div>
            </div>



            <div class="table100 ver1 m-b-110">
                <table data-vertable="ver1">
                    <thead>
                        <tr class="row100 head">
                            <th class="column100 column1" data-column="column1">Student ID</th>
                            <th class="column100 column2" data-column="column2">Student Name</th>
                            <th class="column100 column3" data-column="column3">R1</th>
                            <th class="column100 column4" data-column="column4">R2</th>
                            <th class="column100 column5" data-column="column5">R3</th>
                            <th class="column100 column6" data-column="column6">R4</th>
                            <th class="column100 column7" data-column="column7">R5</th>
                            <th class="column100 column8" data-column="column8">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">SP19-BSSE-0073</td>
                            <td class="column100 column2" data-column="column2">Inshal Jamal</td>
                            <td class="column100 column3" data-column="column3">0</td>
                            <td class="column100 column4" data-column="column4">1</td>
                            <td class="column100 column5" data-column="column5">1</td>
                            <td class="column100 column6" data-column="column6">1</td>
                            <td class="column100 column7" data-column="column7">0</td>
                            <td class="column100 column8" data-column="column8">3</td>
                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">SP19-BSSE-0069</td>
                            <td class="column100 column2" data-column="column2">Moiz Madni Khan</td>
                            <td class="column100 column3" data-column="column3">0</td>
                            <td class="column100 column4" data-column="column4">1</td>
                            <td class="column100 column5" data-column="column5">1</td>
                            <td class="column100 column6" data-column="column6">1</td>
                            <td class="column100 column7" data-column="column7">0</td>
                            <td class="column100 column8" data-column="column8">3</td>
                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">SP19-BSSE-0042</td>
                            <td class="column100 column2" data-column="column2">Syed Haider Imam</td>
                            <td class="column100 column3" data-column="column3">0</td>
                            <td class="column100 column4" data-column="column4">1</td>
                            <td class="column100 column5" data-column="column5">1</td>
                            <td class="column100 column6" data-column="column6">1</td>
                            <td class="column100 column7" data-column="column7">0</td>
                            <td class="column100 column8" data-column="column8">3</td>
                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">SP19-BSSE-0049</td>
                            <td class="column100 column2" data-column="column2">Muhammad Zeeshan</td>
                            <td class="column100 column3" data-column="column3">0</td>
                            <td class="column100 column4" data-column="column4">1</td>
                            <td class="column100 column5" data-column="column5">1</td>
                            <td class="column100 column6" data-column="column6">1</td>
                            <td class="column100 column7" data-column="column7">0</td>
                            <td class="column100 column8" data-column="column8">3</td>
                        </tr>


                    </tbody>
                </table>
                <br>
                <div class="btn-group">
                    <button type="submit" class="btn btn-secondary" style="float: right;">Print</button>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-secondary" style="float: right;">Download</button>
                </div>
            </div>


        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Copyright &copy; 2021-2025 <a href="../#">QEC Portal</a>.</strong>
    All rights reserved.
</footer>
<div>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="../plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="../plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="../plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="../plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="../plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="../plugins/moment/moment.min.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="../plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../dist/js/pages/dashboard.js"></script>

