
@{
    ViewBag.Title = "CourseOutlineForm";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">


            <div class="card bg-info text-white">
                <div class="card-body">

                    <center><h3>Course Outline</h3></center>

                </div>
            </div>

            <div class="container">
                <div class="row" style="border:1px black solid;">

                    <div class="col-md-12">

                        <b>Department: </b>     Computer of Science

                    </div>

                </div>

                <div class="row" style="border:1px black solid;">

                    <div class="col-md-4">

                        <b>Program: </b>     BSSE

                    </div>
                    <div class="col-md-4">

                        <b>Semester: </b>     FALL 2021

                    </div>

                </div>
                <div class="row" style="border:1px black solid;">

                    <div class="col-md-4">

                        <b>Course Code: </b>     CS 4121

                    </div>
                    <div class="col-md-5">

                        <b>Course Title: </b>     Software Construction & Development

                    </div>

                </div>

                <div class="row" style="border:1px black solid;">

                    <div class="col-md-6">

                        <b>Instructor Name: </b>     Muhammad Tauseef

                    </div>

                </div>
            </div>

            <br>

            <table class="table table-striped">

                <thead>
                <th>No</th>
                <th><center><b>View Course Outline<b></center></th>
                <th></th>
                </thead>

                @*<tbody>

                    <tr>
                        <td>1</td>
                        <td>Course Outline (standardized and updated as per BOS)</td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Students attendance list (Course Attendance & Exam Attendance)</td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>
                            For all quizzes, attach:
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Question Paper
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. Graded copy of Best, Worst & Average
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. Sample solution (as per departmental policy)
                        </td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>
                            For all assignments, attach:
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Question Sheet
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. Graded copy of Best, Worst & Average
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. Sample solution (as per departmental policy)
                        </td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>
                            For all class projects, if applicable, attach:
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Graded copy of Best, Worst & Average
                        </td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>
                            For the midterm exam, attach:
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Question Sheet
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. Graded copy of Best, Worst & Average
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. Sample solution (as per departmental policy)
                        </td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>
                            For the Final exam, attach:
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Question Sheet
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. Graded copy of Best, Worst & Average
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. Sample solution (as per departmental policy)
                        </td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>Final Result breakup (approved detailed sheet from database/MAJU Online)</td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td>Faculty course review report</td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td>Weekly Course Coverage Plan (filled)</td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>11</td>
                        <td>Attach the TEACHER/COURSE EVALUATION data file by Student (system generated)</td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>12</td>
                        <td>Class activity/guest speaker session/industrial visit/CSR/conference/seminar or any other</td>
                    </tr>

                    <tr>
                        <td>13</td>
                        <td>Course Completion Certificate</td>
                        <td><button type="submit" class="btn btn-info">View</button></td>
                    </tr>

                    <tr>
                        <td>14</td>
                        <td>Any other report required department specific accreditation bodies (CLO Report/Course complete lectures/Course Descriptive form/course format form/Course log) if applicable</td>
                    </tr>

                </tbody>*@

            </table>


        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Copyright &copy; 2021-2025 <a href="../#">QEC Portal</a>.</strong>
    All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>$.widget.bridge('uibutton', $.ui.button)</script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="../plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="../plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="../plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="../plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="../plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="../plugins/moment/moment.min.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="../plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../dist/js/pages/dashboard.js"></script>

