
@{
    ViewBag.Title = "StudentEvaluationDetails";
}

</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">


            <div class="card bg-info text-white">
                <div class="card-body">

                    <center>
                        <h3>Student Report</h3>
                        <center>

                            <div class="row">

                                <div class="col-md-2">
                                </div>


                                <div class="col-md-4">
                                    <b>Student ID: SP19-BSSE-0073</b>
                                </div>

                                <div class="col-md-4">
                                    <b>Student Name: INSHAL JAMAL</b>
                                </div>

                                <div class="col-md-2">
                                </div>


                            </div>



                </div>



            </div>
        </div>

        <div class="container">

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">Assignment 1</button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body card bg-dark text-black">

                            <div class="container">


                                <div class="row">

                                    <div class="col-md-4">



                                        <center><b>(Assignment 1)</b></center>
                                        <div class="card bg-light text-black" style="border:1px black solid;">
                                            <div class="card-body">

                                                <h5 style="color:black;">R1 = 0</h5>
                                                <h5 style="color:black;">R2 = 1</h5>
                                                <h5 style="color:black;">R3 = 0</h5>
                                                <h5 style="color:black;">R4 = 1</h5>
                                                <h5 style="color:black;">R5 = 1</h5>
                                                <b style="color:black;">Obtained Marks = 3 out of 5</b>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-4">

                                    </div>

                                    <div class="col-md-3">

                                        <center><b>(Rubric)</b></center>
                                        <div class="card bg-light text-black" style="border:1px black solid;">
                                            <div class="card-body">

                                                <h5 style="color:black;">R1 = ___________</h5>
                                                <h5 style="color:black;">R2 = ___________</h5>
                                                <h5 style="color:black;">R3 = ___________</h5>
                                                <h5 style="color:black;">R4 = ___________</h5>
                                                <h5 style="color:black;">R5 = ___________</h5>
                                                <p style="color:black;">________________________</p>
                                                <b style="color:black;">Total Points   10/2</b>
                                                <p style="color:black;">________________________</p>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">Assignment 2</button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body card bg-dark text-black">
                            <div class="container">


                                <div class="row">

                                    <div class="col-md-4">



                                        <center><b>(Assignment 2)</b></center>
                                        <div class="card bg-light text-black" style="border:1px black solid;">
                                            <div class="card-body">

                                                <h5 style="color:black;">R1 = 0</h5>
                                                <h5 style="color:black;">R2 = 1</h5>
                                                <h5 style="color:black;">R3 = 0</h5>
                                                <h5 style="color:black;">R4 = 1</h5>
                                                <h5 style="color:black;">R5 = 1</h5>
                                                <b style="color:black;">Obtained Marks = 3 out of 5</b>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-4">

                                    </div>

                                    <div class="col-md-3">

                                        <center><b>(Rubric)</b></center>
                                        <div class="card bg-light text-black" style="border:1px black solid;">
                                            <div class="card-body">

                                                <h5 style="color:black;">R1 = ___________</h5>
                                                <h5 style="color:black;">R2 = ___________</h5>
                                                <h5 style="color:black;">R3 = ___________</h5>
                                                <h5 style="color:black;">R4 = ___________</h5>
                                                <h5 style="color:black;">R5 = ___________</h5>
                                                <p style="color:black;">________________________</p>
                                                <b style="color:black;">Total Points   10/2</b>
                                                <p style="color:black;">________________________</p>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">Quiz 1</button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body card bg-dark text-black">
                            <div class="container">


                                <div class="row">

                                    <div class="col-md-4">



                                        <center><b>(Quiz 1)</b></center>
                                        <div class="card bg-light text-black" style="border:1px black solid;">
                                            <div class="card-body">

                                                <h5 style="color:black;">R1 = 0</h5>
                                                <h5 style="color:black;">R2 = 1</h5>
                                                <h5 style="color:black;">R3 = 0</h5>
                                                <h5 style="color:black;">R4 = 1</h5>
                                                <h5 style="color:black;">R5 = 1</h5>
                                                <b style="color:black;">Obtained Marks = 3 out of 5</b>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-4">

                                    </div>

                                    <div class="col-md-3">

                                        <center><b>(Rubric)</b></center>
                                        <div class="card bg-light text-black" style="border:1px black solid;">
                                            <div class="card-body">

                                                <h5 style="color:black;">R1 = ___________</h5>
                                                <h5 style="color:black;">R2 = ___________</h5>
                                                <h5 style="color:black;">R3 = ___________</h5>
                                                <h5 style="color:black;">R4 = ___________</h5>
                                                <h5 style="color:black;">R5 = ___________</h5>
                                                <p style="color:black;">________________________</p>
                                                <b style="color:black;">Total Points   10/2</b>
                                                <p style="color:black;">________________________</p>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour">Quiz 2</button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body card bg-dark text-black">

                            <div class="container">


                                <div class="row">

                                    <div class="col-md-4">



                                        <center><b>(Quiz 2)</b></center>
                                        <div class="card bg-light text-black" style="border:1px black solid;">
                                            <div class="card-body">

                                                <h5 style="color:black;">R1 = 0</h5>
                                                <h5 style="color:black;">R2 = 1</h5>
                                                <h5 style="color:black;">R3 = 0</h5>
                                                <h5 style="color:black;">R4 = 1</h5>
                                                <h5 style="color:black;">R5 = 1</h5>
                                                <b style="color:black;">Obtained Marks = 3 out of 5</b>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-4">

                                    </div>

                                    <div class="col-md-3">

                                        <center><b>(Rubric)</b></center>
                                        <div class="card bg-light text-black" style="border:1px black solid;">
                                            <div class="card-body">

                                                <h5 style="color:black;">R1 = ___________</h5>
                                                <h5 style="color:black;">R2 = ___________</h5>
                                                <h5 style="color:black;">R3 = ___________</h5>
                                                <h5 style="color:black;">R4 = ___________</h5>
                                                <h5 style="color:black;">R5 = ___________</h5>
                                                <p style="color:black;">________________________</p>
                                                <b style="color:black;">Total Points   10/2</b>
                                                <p style="color:black;">________________________</p>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive">Project</button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body card bg-dark text-black">

                            <div class="container">


                                <div class="row">

                                    <div class="col-md-4">



                                        <center><b>(Project)</b></center>
                                        <div class="card bg-light text-black" style="border:1px black solid;">
                                            <div class="card-body">

                                                <h5 style="color:black;">R1 = 0</h5>
                                                <h5 style="color:black;">R2 = 1</h5>
                                                <h5 style="color:black;">R3 = 0</h5>
                                                <h5 style="color:black;">R4 = 1</h5>
                                                <h5 style="color:black;">R5 = 1</h5>
                                                <b style="color:black;">Obtained Marks = 3 out of 5</b>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-4">

                                    </div>

                                    <div class="col-md-3">

                                        <center><b>(Rubric)</b></center>
                                        <div class="card bg-light text-black" style="border:1px black solid;">
                                            <div class="card-body">

                                                <h5 style="color:black;">R1 = ___________</h5>
                                                <h5 style="color:black;">R2 = ___________</h5>
                                                <h5 style="color:black;">R3 = ___________</h5>
                                                <h5 style="color:black;">R4 = ___________</h5>
                                                <h5 style="color:black;">R5 = ___________</h5>
                                                <p style="color:black;">________________________</p>
                                                <b style="color:black;">Total Points   10/2</b>
                                                <p style="color:black;">________________________</p>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>



                        </div>
                    </div>
                </div>

            </div>

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Copyright &copy; 2021-2025 <a href="../#">QEC Portal</a>.</strong>
    All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>$.widget.bridge('uibutton', $.ui.button)</script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="../plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="../plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="../plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="../plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="../plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="../plugins/moment/moment.min.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="../plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../dist/js/pages/dashboard.js"></script>
